{{site-nav-toggle toggleNav=(action 'toggleNav')}}

<div id="cd-nav" class="cd-nav">
	<div class="cd-navigation-wrapper">

		<nav class="cl-effect-21">
      {{#link-to 'home'}}Home{{/link-to}}
      {{#link-to 'about'}}About{{/link-to}}
      {{#link-to 'blog'}}Blog{{/link-to}}
			{{!-- <ul class="cd-primary-nav">
				<li>{{#link-to 'home'}}Home{{/link-to}}</li>
				<li>{{#link-to 'about'}}About{{/link-to}}</li>
				<li>{{#link-to 'blog'}}Blog{{/link-to}}</li>
			</ul> --}}
		</nav>



		<address>
			<ul class="cd-contact-info">
				<li class="text-right">
          <a href="mailto:hello@robabby.com">hello@robabby.com</a>
        </li>
				<li>
          <a href="#"><i class="fab fab-github"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fab-linkedin"></i></a>
        </li>
			</ul>
		</address>
    <form class="form">
      <div class="row gutters">
        <div class="col col-6">
          <div class="form-item">
            <input type="text" class="small" placeholder="First Name">
          </div>
        </div>
        <div class="col col-6">
          <div class="form-item">
            <input type="text" class="small" placeholder="Last Name">
          </div>
        </div>
      </div>
      <div class="row gutters">
        <div class="col col-6">
          <div class="form-item">
            <input type="text" class="small" placeholder="Email">
          </div>
        </div>
        <div class="col col-6">
          <div class="form-item">
            <input type="tel" class="small" placeholder="Phone Number">
          </div>
        </div>
      </div>
      <div class="row gutters">
        <div class="col col-12">
          <textarea
            class="form-item"
            placeholder="Tell me about your project"
          ></textarea>
        </div>
      </div>
      <div class="row gutters">
        <div class="col col-4 push-right">
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
	</div> <!-- .cd-navigation-wrapper -->
</div> <!-- .cd-nav -->

{{yield}}
