<section data-ng-controller="HomeController">
	<div id="stage" class="row">
		<div>
			<div class="overlay"></div>
			<div class="stage-content">
				<!-- <img class="img-circle" src="http://placehold.it/150x150" /> -->
				<h1 class="mt4">Rob Abby <strong>Software Developer</strong></h1>
				<hr />
			</div>
		</div>
	</div>
	<div id="about" class="row">
		<div class="col-md-12 p4">
			<p>Hey there! My name is Rob and I am a Chicago based Software Developer with a focus on the front-end. I utilize various cutting edge
web technologies to develop production-ready interfaces that work across all major browsers. I excel at
providing creative solutions to complex problems while managing multiple projects. I enjoy clean code
and thrive on helping others succeed.</p>
		</div>
	</div>
	<div class="row mt2">
		<div class="col-md-12" data-ng-init="find()">
			<div class="list-group">
				<a data-ng-repeat="post in posts | limitTo:3" data-ng-href="#!/posts/{{post._id}}" class="list-group-item">
					<h2 class="list-group-item-heading" data-ng-bind="post.title"></h2>
					<div>
						<div data-ng-bind-html="post.post_body | limitTo:300"></div>
					</div>
					<small class="list-group-item-text">
						Posted on
						<span data-ng-bind="post.created | date:'medium'"></span>
						by
						<span data-ng-bind="post.user.displayName"></span>
					</small>
					<h4 class="list-group-item-heading" data-ng-bind="post.name"></h4>
				</a>
			</div>
		</div>
	</div>
</section>
