<section data-ng-controller="HomeController">
	<div id="stage" class="row">
		<div>
			<div class="overlay"></div>
			<div class="stage-content">
				<!-- <img class="img-circle" src="http://placehold.it/150x150" /> -->
				<h1 class="mt4">Rob Abby <strong>Software Developer</strong></h1>
				<hr />
			</div>
		</div>
	</div>
	<div id="about" class="row">
		<div class="col-md-12 py3">
			<p>
				Hey there! My name is Rob and I am a Chicago based Software Developer with a focus on the front-end.
				You can learn more about me by following one of the links below. You can also shoot me an email directly.
			</p>
		</div>
	</div>
	<div id="social" class="row">
		<div class="px3 mt2 mb4">
			<a href="mailto:robabby23@gmail.com"><i class="fa fa-envelope fa-3x"></i></a>
			<a class="ml3" href="https://github.com/robabby"><i class="fa fa-github fa-3x"></i></a>
			<a class="ml3" href="https://stackoverflow.com/users/977203/robabby"><i class="fa fa-stack-overflow fa-3x"></i></a>
			<a class="ml3" href="https://linkedin.com/in/robabby"><i class="fa fa-linkedin fa-3x"></i></a>
		</div>
	</div>
	<div id="posts" class="row">
		<div class="col-md-12" data-ng-init="find()">
			<div class="list-group">
				<a data-ng-repeat="post in posts | limitTo:3" data-ng-href="#!/posts/{{post._id}}" class="list-group-item">
					<h2 class="list-group-item-heading" data-ng-bind="post.title"></h2>
					<div>
						<div data-ng-bind-html="post.post_body | limitTo:300"></div>
					</div>
					<small class="list-group-item-text">
						Posted on
						<span data-ng-bind="post.created | date:'medium'"></span>
						by
						<span data-ng-bind="post.user.displayName"></span>
					</small>
					<h4 class="list-group-item-heading" data-ng-bind="post.name"></h4>
				</a>
			</div>
		</div>
	</div>
</section>
