<section id="global-nav" ng-class="{isActive : 'is-active'}" data-ng-controller="NavController">
	<div ng-click="triggerNav()" class="nav-trigger">
		<span class="nav-icon"></span>
		<svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
			<circle fill="transparent" stroke="#fff" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
		</svg>
	</div>
	<div class="nav-drawer">
		<div class="drawer-inner">
			<ul>
				<li>
					<a href="/#!/">Home</a>
				</li>
				<li>
					<a href="/#!/posts">Blog</a>
				</li>
				<li>
					<a href="/#!/contact">Contact</a>
				</li>
			</ul>

			<div class="social-wrapper">
				<a href="mailto:robabby23@gmail.com"><i class="fa fa-envelope-square"></i></a>
				<a class="ml1" href="https://github.com/robabby"><i class="fa fa-github"></i></a>
				<a class="ml1" href="https://stackoverflow.com/users/977203/robabby"><i class="fa fa-stack-overflow"></i></a>
				<a class="ml1" href="https://linkedin.com/in/robabby"><i class="fa fa-linkedin"></i></a>
				<a class="ml1" href="https://twitter.com/stat30fbliss"><i class="fa fa-twitter"></i></a>
			</div>
		</div>
	</div>
</section>
