// Media Query Sizes
$customScreen: 320px; // iPhone Retina
$extraSmallScreen: 480px;
$smallScreen: 768px;
$mediumScreen: 992px;
$largeScreen: 1200px;

$primaryFontColor: #333;
$primaryFontSize: 1em;

$headerHeightDesktop: 100%;
$headerNavActiveBorderColor: #33AAFF;

$stageHeight: 100vh;
