@import "libs/kube/kube.scss";
@import "mixins";
@import "variables";
@import "fonts";
@import "components/site-nav";

/*
font-family: 'raleway';

font-family: 'open_sansbold';
font-family: 'open_sansbold_italic';
font-family: 'open_sanslight';
font-family: 'open_sanslight_italic';
font-family: 'open_sansregular';
font-family: 'open_sansitalic';
font-family: 'open_sanssemibold';
font-family: 'open_sanssemibold_italic';

font-family: 'roboto_slabbold';
font-family: 'roboto_slablight';
font-family: 'roboto_slabregular';
font-family: 'roboto_slabthin';
*/

* {
  box-sizing: border-box;
}
body,
html {
  margin:0;
  padding:0;
  font-family: 'open_sanslight';
  font-size:$primaryFontSize;
  height:100%;

  @include clearfix();
}
body {
  background-color: mix(#3f3251, #002025, 70%);
}
.stage {
  display:flex;
  justify-content: center;
  align-items: center;
  height:$stageHeight;
  background-color:transparent;
  color:#fff;
  overflow: hidden;
}
.stage__content {
  position: relative;
  z-index: 10;

  h1 {
    font-size: 12vw;
    font-family: 'raleway';
    color:$color-aluminum;
    text-transform: uppercase;

    span {
      font-weight: 300;
    }
  }
}
.container {
  padding:5px;
}
.trianglify-container {
  width:100vw;
  height:100vh;
  position: relative;

  .circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid #333;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }

  path {
    fill: transparent;
    transform-origin: center bottom;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  }

  .invisible {
    opacity: 0;
    transform: scale(0);
  }
}

.vertical-centered-box {
  position: absolute;
  width:100%;
  height:100%;
  text-align: center;
}
#particles-background, #particles-foreground {
  left: -51%;
  top: -51%;
  width:202%;
  height:202%;
  transform: scale3d(0.5, 0.5, 1);
}

#particles-background {
  background: mix(#3f3251, #002025, 70%);
  background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

.sub-stage {
  padding:20px;
  background-color:#009fc2;

  h3 {
    color:$color-aluminum;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : $customScreen) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : $extraSmallScreen) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : $smallScreen) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : $mediumScreen) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $largeScreen) {

}
