@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'components/site-nav';

/*
font-family: 'open_sansbold';
font-family: 'open_sansbold_italic';
font-family: 'open_sanslight';
font-family: 'open_sanslight_italic';
font-family: 'open_sansregular';
font-family: 'open_sansitalic';
font-family: 'open_sanssemibold';
font-family: 'open_sanssemibold_italic';
*/

* {
  box-sizing: border-box;
}
body,
html {
  margin:0;
  padding:0;
  font-family: 'open_sanslight';
  font-size:$primaryFontSize;
  height:100%;

  @include clearfix();
}
body {
  background-color:#fff;
}
.stage {
  display:flex;
  justify-content: center;
  align-items: center;
  height:$stageHeight;
  background-color:transparent;
  text-align: center;
  color:#fff;

  &:before {
    content:'';
    display: block;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: url(images/el-tracks.jpg) no-repeat center center fixed;
    filter:grayscale(1) blur(4px);
    -webkit-filter:grayscale(1) blur(4px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0, 0, 0, .30);
    z-index: -1;
  }
}
.container {
  padding:5px;
}
.trianglify-container {
  width:100vw;
  height:100vh;
  position: relative;

  .circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid white;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }

  path {
    fill: transparent;
    transform-origin: center bottom;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  }

  .invisible {
    opacity: 0;
    transform: scale(0);
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : $customScreen) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : $extraSmallScreen) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : $smallScreen) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : $mediumScreen) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $largeScreen) {

}
