@import "libs/kube";
@import "libs/black-tie";
@import "mixins";
@import "variables";
@import "fonts";
@import "spacing";
@import "components/site-nav";
@import "components/particle-container";
@import "components/trianglify-container";

/*
font-family: 'Raleway';
font-family: 'RobotoSlab';

font-family: 'open_sansbold';
font-family: 'open_sansbold_italic';
font-family: 'open_sanslight';
font-family: 'open_sanslight_italic';
font-family: 'open_sansregular';
font-family: 'open_sansitalic';
font-family: 'open_sanssemibold';
font-family: 'open_sanssemibold_italic';
*/
body,
html {
  margin:0;
  padding:0;
  font-size:$primaryFontSize;
  height:100%;
}
body {
  background-color: mix(#3f3251, #002025, 70%);
  font-family: 'Raleway';
}
@include buttons-font("Lato, 'Helvetica Neue', sans-serif");
h1, h2, h3, h4, h5, h6 {
  font-family: 'RobotoSlab';
}
p, a {
  font-family: 'Raleway';
}
/* Home Page
/////////////////////////////// */
.stage {
  display:flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height:$stageHeight;
  background-color:transparent;
  color:#fff;
  overflow: hidden;

  .call-to-action {
    position: absolute;
    top:30px;
    right:2%;
  }
}
.stage__content {
  position: relative;
  z-index: 10;

  h1 {
    font-size: 12.5vw;
    line-height: 90%;
    font-family: 'Raleway';
    color:$color-aluminum;
    text-transform: uppercase;

    span {
      font-weight: 300;
    }
  }
  h2 {
    font-size:4vw;
    color:$color-aluminum;
    font-weight:300;
    font-family: 'Raleway'
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:40px;

    a {
      color:$color-aluminum;
      text-decoration: none;

      i {
        margin-bottom: 10px;
      }
    }
  }
}
.scroll-down {
  position: absolute;
  left: 50%;
  bottom:10px;
  width:80px;
  transform: translateX(-40px);

  path, circle {
    fill: $color-aluminum;
  }
}
.sub-section {
  padding:80px 20px;
  background-color:$color-aluminum;

  h3 {
    font-family:'RobotoSlab';
    font-size:2.5rem;
    line-height: 1;
    color: $color-text;
    margin-bottom:50px;
    font-weight:300;
  }
  .button {
    font-family:'Raleway';
  }
}
.thumbnail {
  padding:5px;
  border:1px solid #ececec;
  border-radius: 3px;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .1);
}
.services-list,
.benefits-list {
  list-style: none;
  margin-left: 0;
}
.services-list li i {
  color:$color-success;
}
.benefits-list li i {
  color:$color-focus;
}

.services-offered {
  padding:80px 60px;
  background-color:$color-darkgray;

  .service {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
    }

    h4 {
      font-family: 'RobotoSlab';
      color:$color-aluminum;
      margin:10px 0 0;
    }
    i {
      color:$color-aluminum;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : $customScreen) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : $extraSmallScreen) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : $smallScreen) {
  .stage .stage__content h1 {
    font-size:9vw;
  }
  .stage .stage__content h2 {
    font-size:2.5vw;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : $mediumScreen) {
  .stage .stage__content h1 {
    font-size:8vw;
    line-height: 100%;
  }
  .stage .stage__content h2 {
    font-size:2.25vw;
    line-height: 100%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $largeScreen) {

}
