@import "_variables";
@import "_utilities";
@import "reset";

.ra-page-area {
  position: relative;
  background-color: #eaf2e3;
  z-index: 0;
}
.ra-content-area {
  position: relative;
  width:960px;
  margin:0 auto;
  padding: $gutterSize $gutterSize * 2;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0px 10px 1px rgba(0, 0, 0, .15);
  transform: translateY(-50px);
}
