@import "reset";

.ra-page-area {
  position: relative;
  background-color: #eaf2e3;
  z-index: 0;
}
.ra-content-area {
  position: relative;
  width:960px;
  margin:0 auto;
  padding: 2rem 4rem;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -10px 10px 1px rgba(0, 0, 0, .15);
  transform: translateY(-50px);
}
.ra-services {
  display: flex;
  flex-direction: column;

}
.ra-services__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.ra-service {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding:1rem;
}
.ra-service__title {
  font-size: 1.25rem;
}
.ra-service__icon {
  width:48px;
}
