<nav>
  <li>
    {{#link-to 'home'}}
      <span>Home</span>
    {{/link-to}}
  </li>
  <li>{{#link-to 'about'}}About{{/link-to}}</li>
  <li>{{#link-to 'blog'}}Blog{{/link-to}}</li>
</nav>

{{yield}}
