.ra-blog-stage {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:35vh;
  background-color:rgba(0, 0, 0, .3);
  overflow:hidden;
  z-index: 0;

  &::after {
    content:'';
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-image: linear-gradient(45deg, #DC2430 2%, #7D4997 100%);
    // background-image: url('../../images/el-tracks.jpg');
    // background-image: url('../../images/calvin-and-hobbes-snow-sharks.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
.ra-blog-stage__title {
  position: relative;
  color:#fff;
  // z-index: 1;
}
