@import "../_variables";

.ra-services {
  display: flex;
  flex-direction: row;
  height: 80vh;
  background: linear-gradient(to right, #ece9e6, #EEF2F3);
}

.ra-services__list {
  position: relative;
  width:100%;
}
