@import 'mixins';
@import 'variables';

* {
  box-sizing: border-box;
}
body,
html {
  margin:0;
  padding:0;
  font-size:$primaryFontSize;
}
body {
  background-color:#fff;
}
header {
  position:fixed;
  top:0;
  right:0;
  left:0;
  height:50px;
  border-bottom:1px solid #ccc;
  background-color:#fff;
  z-index: 9999;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: nowrap;
    align-items: stretch;
    height:100%;

    > li {
      flex: 1 0 auto;
      text-align: center;
      list-style: none;
      height: 100%;
      line-height: 100%;

      > a {
        display:block;
        height: 100%;
        color:$primaryFontColor;
        font-size: 20px;
        text-decoration: none;
        vertical-align: middle;

        &.active {
          border-bottom: 3px solid $headerNavActiveBorderColor;
        }
      }
    }
    @include clearfix();
  }
}
[role="main"] {
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  padding-top:50px;
}
.circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 10px solid white;
  opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
path {
  fill: transparent;
  transform-origin: center bottom;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.invisible {
  opacity: 0;
  transform: scale(0);
}
