/* ==========================================================================
   General Styles
   ========================================================================== 

  ==|== Available Fonts ==|==

  Trade Gothic:
  font-family: 'TradeGothicLTStdBdCnNo.20';
  font-family: 'TradeGothicLTStdLight';

  Big Noodle:
  font-family: 'BigNoodleTitlingRegular';
  font-family: 'BigNoodleTitlingOblique';
  
  Swiss:
  font-family: 'Swiss721Light';
  font-family: 'Swiss721Medium';
  font-family: 'Swiss721Bold';

/* ==|== Global Variables, Styles, & Utilities
=============================================================================================================== */

/* Fonts */
@headingFont: 'TradeGothicLTStdBdCnNo.20'; 
@swissLight: 'Swiss721Light';
@stageFont: 'BigNoodleTitlingRegular';

/* CSS3 */
.hardware-accel {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}


/* General */
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing:border-box;
}
html, body {
  position: relative;
  width:100%;
  height:100%;
  overflow: hidden;
}
.navbar {
  margin-bottom:0;
}

/* Fullscreen Background */
.fullscreen {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1600px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.img-overlay {
  background-color: rgba(0, 0, 0, .65);
  z-index: 0;
}


/* ==|== General Styles 
=============================================================================================================== */


.navbar-brand {
  font-family:@headingFont;
  font-size:200%;
}
.stage-wrapper {
  display: block;
  position: relative;
  width:100%;
  height:100%;
  padding-top: 50px;
}
.stage {
  position: relative;
  width:100%;
  height:100%;
  z-index: 1;
}
.profile-img {
  display: block;
  position: absolute;
  max-width:200px;
  left:50%;
  top:30%;
  margin:-100px 0 0 -100px;
  padding:5px;
  background-color:rgba(255, 255, 255, .9);
  border:1px solid #ccc;
}
.social-wrapper {
  display:block;
  position:relative;
  margin:0 auto;
  padding:0;

  .social-icon {
    display: block;
    padding:10px;
    background-color:rgba(0, 0, 0, .8);
    opacity:.75;
    transition: all .15s ease-in-out;

    &:hover {
      opacity:1;

      .icon-white {
        color:#3CF;
      }
    }
  }
}