/*
font-family: 'Abel', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Lato', sans-serif;
*/

/*
Reset Styles
*/
html, body {
	width:100%;
	height:100%;
	overflow-x:hidden;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
}
a:hover {
	cursor:pointer;
}

/*
Page Styles
*/
.content {}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/*
Home Page Styles
*/
#stage {
	& > div {
		width:100%;
		height:75vh;
		position:relative;
		background:transparent;
		overflow:hidden;

		&:before {
			content:"";
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			background-image:url("../modules/core/img/el_tracks.jpeg");
			background-position:center center;
			background-repeat:no-repeat;
			background-size:cover;
			z-index:-2;
			opacity:.75;
		}
		&:after {
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			background-color:rgba(0, 0, 0, .25);
			z-index:-1;
		}

		.stage-content {
			display:block;
			position:absolute;
			top:55%;
			right:5%;
			bottom:5%;
			left:5%;
			color:#fff;

			h1 {
				font-family: 'Source Sans Pro', sans-serif;
				font-size:6.5vw;
				font-weight:200;
				text-shadow:1px 1px 5px rgba(0, 0, 0, .5);
				color:rgb(255, 255, 255);

				strong {
					font-family: 'Abel', sans-serif;
				}
			}
			h2 {
				font-size:500%;
				font-family: 'Pontano Sans', sans-serif;
				text-shadow:1px 1px 5px rgba(0, 0, 0, .5);
			}
		}
	}
}

#about {
	padding:4%;
	font-size:2vw;
	color:rgb(243, 250, 254);
	background-color:rgb(93, 183, 242);
}

#posts {
	display:block;
	width:100%;

	.post {
		display:inline-block;
		width:50%;
		padding:2rem;
	}
}

#social {
	display:flex;
	flex-direction:row;
	padding:2%;
	background-color:rgb(127, 132, 135);
	margin:0 -15px;

	div {
		a {
			color:rgba(51,51,51,.75);
			transition:color 250ms linear;
			font-size:3.25vw;

			&:hover {
				color:rgba(51,51,51,1);
			}
		}
	}
}

@media screen and (max-width: 640px) {
	#stage.splash > div {
		transition:height 999999s; // Hack to not cause popping on Android when the URL bar hides
	}
	#about {
		font-size:4.5vw;
	}
}
