#global-nav {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:50px;
  background-color:rgba(0, 0, 0, 0);
  transition:all 250ms linear;

  &.active {
    background-color:rgba(0, 0, 0, .5);
    box-shadow:0px 0px 1px 5px rgba(0, 0, 0, .5);
  }

  .nav-trigger {
    position:absolute;
    top:12px;
    left:10px;
    width:50px;
    z-index:3;

    &:hover {
      cursor:pointer;
    }

    & > span {
      display:block;
      position:relative;
      width:100%;
      height:5px;
      margin-top:5px;
      background-color:rgba(255, 255, 255, .75);

      &:first-child {
        margin-top:0;
      }
    }
  }
}
