<div class="stage">
  {{particle-container}}
  {{!-- {{trianglify-container}} --}}
  <div class="stage__content">
    <h1><span>Rob</span>Abby</h1>
  </div>
</div>
<div class="sub-stage">
  <div class="row gutters auto">
    <div class="col">
      <h3>Let's build something together</h3>
    </div>
  </div>
</div>





{{outlet}}
