<div class="stage">
  <div class="container">
    <h2>Creative UI Developer passionate about Front-end Technologies and User Experience.</h2>
    {{#link-to 'about'}}Learn More{{/link-to}}
  </div>
</div>
<div class="container">
  
</div>

{{outlet}}
