<div class="stage">
  <div class="container">
    <h2>Hello.</h2>
    <h2>I'm a creative UI Developer passionate about Front-end Technologies and User Experience.</h2>
  </div>
</div>


{{trianglify-container}}

{{outlet}}
